doctype html
html(lang="en")
    head
        title Gro Intelligence
        meta(chatset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="")
        link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
        link(href="/styles/entypo.css" rel="stylesheet")
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet")
        link(href="/styles/main.css" rel="stylesheet")
    body
        <!-- Navbar -->
        nav(class="navbar navbar-expand-lg")
            div(class="container")

                <!-- Navbar brand -->
                a(class="navbar-brand" href="/")
                    img(src="images/logo.png" alt="Gro Intelligence logo")
                
                <!-- Collapse button -->
                button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
                    span(class="icon-menu1")
            
                <!-- Collapsible content -->
                div(class="collapse navbar-collapse" id="navbar")

                    <!-- Links -->
                    ul(class="nav navbar-nav ml-auto")

                        <!-- Products -->
                        li(class="nav-item dropdown")
                            a(href="#" class="nav-link" id="productsDropdown" data-toggle="dropdown-menu" aria-haspopup="true" aria-expanded="false") Products
                            div(class="dropdown-menu show" id="productsMenu" aria-labelledby="productsDropdown")
                                div(class="container")    
                                    div(class="row")

                                        <!-- Gro web app -->    
                                        div(class="col-md-3 text-center product-card")
                                            img(src="/images/products/gro-web-app.png" class="img-fluid")
                                            h3 Gro web app
                                            p Jump straight into analysis through intuitive visualizations that can be monitored on live dashboards
                                            a(href="#")
                                                button(type="button" class="btn btn-outline-dark btn-outline") Learn more 
                                                    span(class="icon-chevron-right1")

                                        <!-- Gro analytics -->
                                        div(class="col-md-3 text-center product-card")
                                            img(src="/images/products/gro-analytics.png" class="img-fluid")
                                            h3 Gro analytics
                                            p Gain a competitive edge by using Gro’s proprietary machine-learning algorithms and predictive models
                                            ul(class="list-unstyled")
                                                li
                                                    span US Corn 
                                                    a(href="#") Yield Forecast 
                                                        span(class="icon-chevron-right1")
                                                li
                                                    span US Soy 
                                                    a(href="#") Yield Forecast 
                                                        span(class="icon-chevron-right1")
                                                li
                                                    span Argentina Soy 
                                                    a(href="#") Yield Forecast 
                                                        span(class="icon-chevron-right1")
                                            a(href="#")
                                                button(type="button" class="btn btn-outline-dark btn-outline") Learn more 
                                                    span(class="icon-chevron-right1")

                                        <!-- Gro API -->
                                        div(class="col-md-3 text-center product-card")
                                            img(src="/images/products/gro-api.jpg" class="img-fluid")
                                            h3 Gro API
                                            p Gain direct access to Gro’s entire database, including supply, demand, weather, and environment data
                                            a(href="#")
                                                button(type="button" class="btn btn-outline-dark btn-outline") Learn more 
                                                    span(class="icon-chevron-right1")

                                        <!-- Gro dictionary -->
                                        div(class="col-md-3 text-center product-card")
                                            img(src="/images/products/gro-dictionary.png" class="img-fluid")
                                            h3 Gro dictionary
                                            p Explore data from our collection of over 8.828M datasets.
                                            a(href="#")
                                                button(type="button" class="btn btn-outline-dark btn-outline") Learn more 
                                                    span(class="icon-chevron-right1")
                            
                        <!-- Industries -->
                        li(class="nav-item dropdown")
                            a(href="#" class="nav-link" id="industriesDropdown" data-toggle="dropdown-menu" aria-haspopup="true" aria-expanded="false") Industries
                            div(class="dropdown-menu" id="industriesMenu" aria-labelledby="industriesDropdown")
                                div(class="container")    
                                    div(class="row")
                                        div(class="col-md-3 text-center industry-card")
                                            div(class="img-hover-zoom")
                                                a(href="#")
                                                    img(src="/images/industries/financial-services.jpg" class="img-fluid")
                                                    div(class="industry-card-title")
                                                        span(class="text-uppercase") Financial Services
                                        div(class="col-md-3 text-center industry-card")
                                            div(class="img-hover-zoom")
                                                a(href="#")
                                                    img(src="/images/industries/physical-traders.jpg" class="img-fluid")
                                                    div(class="industry-card-title")    
                                                        span(class="text-uppercase") Physical Traders
                                        div(class="col-md-3 text-center industry-card")
                                            div(class="img-hover-zoom")
                                                a(href="#")
                                                    img(src="/images/industries/sources-and-procurement.jpg" class="img-fluid")
                                                    div(class="industry-card-title")
                                                        span(class="text-uppercase") Sourcing and Procurement
                                        div(class="col-md-3 text-center industry-card")
                                            div(class="img-hover-zoom")
                                                a(href="#")
                                                    img(src="/images/industries/consulting.jpg" class="img-fluid")
                                                    div(class="industry-card-title")
                                                        span(class="text-uppercase") Consulting

                        <!-- Research -->
                        li(class="nav-item")
                            a(class="nav-link" href="#") Research
                        li(class="nav-item")
                            a(class="nav-link" href="#") About
                    
                    ul(class="nav navbar-nav navbar-btn")
                        li(class="nav-item")
                            a(href="#")
                                button(type="button" class="btn btn-login") Log in
                        
                        li(class="nav-item")
                            a(href="#")
                                button(type="button" class="btn btn-signup") Sign up
        
        div(class="container")
            block content

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js")
        script(src="/js/jquery.hoverIntent.min.js")
        //script(src="/js/main.js")