.nav {
    align-items: center;

    .nav-item {
        padding: 15px;

        .nav-link {
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            color: #fff !important;

            .btn{
                border-radius: 20px;
                padding-left: 30px;
                padding-right: 30px;
                border-color: #f8f9fa;
            }

            .btn-outline {
                color: #f8f9fa;
            }

            .btn-filled {
                color: #212529;
                background-color: #f8f9fa;
            }
        }
    }
}