.nav {
  align-items: center;
}
.nav .nav-item {
  padding: 15px;
}
.nav .nav-item .nav-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #fff !important;
}
.nav .nav-item .nav-link .btn {
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-color: #f8f9fa;
}
.nav .nav-item .nav-link .btn-outline {
  color: #f8f9fa;
}
.nav .nav-item .nav-link .btn-filled {
  color: #212529;
  background-color: #f8f9fa;
}
