@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background-color: #333336;
}
body h3 {
  font-size: 20px;
  color: #555558;
  padding: 15px 0;
}
body button:focus {
  box-shadow: none !important;
  outline: none !important;
}
/* Navbar */
.navbar {
  background-color: #333336;
  /* Navbar toggler for mobile */
  /* Logo */
  /* Navbar links */
  /* Dropdown */
  /* Adjust padding for signup button */
}
@media (min-width: 992px) {
  .navbar {
    padding: 0px;
  }
}
.navbar .navbar-toggler {
  border-color: #ffffff;
  color: #ffffff;
  height: 40px;
}
.navbar .navbar-brand > img {
  width: 40px;
  height: 40px;
}
.navbar .nav-item {
  /* Log in and Sign up buttons */
}
@media (min-width: 992px) {
  .navbar .nav-item {
    padding: 20px;
  }
}
.navbar .nav-item .nav-link {
  font-size: 14px;
  color: #ffffff;
}
.navbar .nav-item .nav-link:hover {
  color: #bebebe;
}
.navbar .nav-item > a {
  /* Arrow for dropdown menus */
}
.navbar .nav-item > a > button {
  font-size: 14px;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 50px;
}
.navbar .nav-item > a > button.btn-login {
  border: 1px solid #ffffff;
}
.navbar .nav-item > a > button.btn-login:hover {
  color: #333336;
  background-color: #ffffff;
}
.navbar .nav-item > a > button.btn-signup {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
}
.navbar .nav-item > a > button.btn-signup:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
.navbar .nav-item > a.arrow-up:after {
  content: "";
  bottom: -27px;
  left: calc(50% - 12px);
  position: absolute;
  width: 0;
  height: 0;
  border: solid 12px transparent;
  border-bottom-color: #ffffff;
}
.navbar .dropdown {
  position: static;
}
.navbar .dropdown > a {
  position: relative;
}
.navbar .dropdown > .dropdown-menu {
  border: none;
  border-radius: 0;
  width: 100%;
}
.navbar .navbar-btn > .nav-item:last-child {
  padding-right: 0;
}
/* Make the navbar taller to match wireframe only in desktop mode */
@media (min-width: 992px) {
  #navbar {
    min-height: 82px;
  }
}
/* Products dropdown menu */
#productsMenu {
  padding: 45px 0;
}
#productsMenu .product-card {
  padding: 0 50px;
  /* Divider */
  border-right: solid 1px #eeeef1;
  /* Card image */
  /* Card paragraph */
  /* Learn more button */
}
#productsMenu .product-card:last-child {
  border-right: none;
}
#productsMenu .product-card > img {
  width: 75px;
  height: 75px;
}
#productsMenu .product-card > p {
  color: #88888b;
  font-size: 12px;
  line-height: 20px;
}
#productsMenu .product-card button {
  font-size: 11px;
  color: #666669;
  padding: 8px 20px;
  border-radius: 50px;
  background-color: #eeeef1;
  border: none;
}
#productsMenu .product-card button:hover {
  color: #ffffff;
  background-color: #e31b37;
}
#productsMenu .product-card > ul {
  margin-bottom: 1rem;
}
#productsMenu .product-card > ul > li {
  font-size: 12px;
  font-weight: 700;
  padding: 5px 0;
}
#productsMenu .product-card > ul > li > * {
  display: inline-block;
}
#productsMenu .product-card > ul > li > span {
  padding-right: 5px;
}
#productsMenu .product-card > ul > li > a {
  font-weight: 500;
  color: #AAAAAD;
  text-decoration: none;
}
#productsMenu .product-card > ul > li > a:hover {
  color: #dadada;
}
#productsMenu .product-card > ul > li > a > span {
  padding-left: 5px;
  font-size: 15px;
}
/* Industries dropdown menu */
#industriesMenu {
  padding: 20px 0;
}
#industriesMenu .industry-card {
  padding: 0 5px;
}
#industriesMenu .img-hover-zoom {
  height: 145px;
}
#industriesMenu .img-hover-zoom .industry-card-title {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}
#industriesMenu .img-hover-zoom .industry-card-title > span {
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 1.8px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50px;
  padding: 8px 18px;
  max-width: 90%;
}
#industriesMenu .img-hover-zoom img {
  min-height: 145px;
}
/* Image hover zoom */
.img-hover-zoom {
  overflow: hidden;
  border-radius: 10px;
}
.img-hover-zoom img {
  transition: 0.5s ease-in-out;
  transform-origin: center center;
}
.img-hover-zoom:hover img {
  opacity: 75%;
  transform: scale(1.3);
}
